body {
	background: #e6ecf0;
}
* {
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}
#cover_photo {
	height: 280px;
	background: beige;
	width: 100%;
	background-position: center;
	background-size: cover;
}
.header {
	height: 60px;
	width: 100%;
	background: #fff;
}
.header-box {
	position: relative;
	width: 890px;
	margin: 0 auto;
	display: flex;
}
.profile-pic-bg {
	height: 210px;
	width: 210px;
	background: beige;
	border: 5px solid #fff;
	border-radius: 100%;
	position: absolute;
	bottom: -87px;
	left: 10px;
	overflow: hidden;
}
#profile_pic {
	width: 100%;
	height: auto;
}
ul {
	list-style-type: none;
	display: flex;
	position: absolute;
	left: 302px;
	padding: 0;
	margin: 0;
}
ul li {
	padding-top: 14px;

}
ul li a {
	text-decoration: none;
	color: #657786;
	font-size: 12px;
	font-weight: bold;
	padding: 14px 15px 7px;
}
.active {
	border-bottom: 2px solid #1b95e0;
	color: #1b95e0;
}
#broj_tvitova {
	display: block;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 7px;
}
.wrapper {
	width: 890px;
	height: 100%;
	margin: 0 auto;
	display: flex;
}
.info {
	margin-top: 35px;
	padding: 0 10px;
	flex: 1;
}
#name {
	font-size: 21px;
	font-weight: bold;
	line-height: 28px;
	margin: 0;
}
.username {
	font-size: 14px;
	color: #657786;
	margin-top: 0;
}
.tvitovi {
	padding-top: 12px; 
	flex: 2;
}
#textarea {
	padding: 10px 12px;
	background-color: #e8f4fb;
	border: 1px solid #e6ecf0;
	height: 60px;
	position: relative;
}
.tvit-box {
	display: flex;
	height: 100%;
}
#novi_tvit {
	width: 506px;
	border: 1px solid #c6e4f7;
	border-radius: 8px;
	padding: 8px 31px 8px 8px;
}
::placeholder {
	color: #1B95E0;
	font-size: 14px;
	line-height: 20px;
}
.profile_pic_mini_bg {
	width: 32px;
	height: 32px;
	border-radius: 100%;
	background-color: beige;
	margin-top: 3px;
	margin-left: 16px;
	margin-right: 8px;
	overflow: hidden;
}
#profile_pic_mini {
	width: 100%;
	height: auto;
}
#tvit_dugme {
	display: none;
	position: absolute;
	right: 11px;
	bottom: 11px;
	background-color: #48AAE6;
	color: #fff;
	border: 1px solid #1da1f2;
	border-radius: 100px;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	padding: 6px 16px;
}
#tvit_dugme:disabled {
	opacity: 0.3;
}
#svi_tvitovi {
	background: #fff;
	border-left: 1px solid #e6ecf0;
	border-right: 1px solid #e6ecf0;
}
.tvit {
	min-height: 51px;
	padding: 9px 12px;
	border-bottom: 1px solid #e6ecf0;
	padding-left: 70px;
	font-size: 14px;
	word-break: break-all;
}
.tvit:hover {
	background-color: #f5f8fa;
}